body {
    background-color: lightblue;
}

h1 {
    font-size: 30px;
    font-family: 'Times New Roman';
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: Georgia;
    color: black;
}

h3 {
    font-size: 24px;
    font-family: 'Gill Sans';
    color: black;
}

p {
    line-height: 150%;
}

img {
    border: solid 5px;
    border-color: black;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

.likes li {
    margin-left: 50px;
    display: inline-block;
}

/* a {
    background-color: purple;
    padding: 5px;
    margin: 5px;
} */

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #04AA6D;
}

#skip {
    position: absolute;
    left: -500px;
}

#skip:focus {
    position: static;
}