body {
    background-color: lightblue;
}

h1 {
    font-size: 30px;
    font-family: 'Times New Roman';
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: Georgia;
    color: black;
}

h3 {
    font-size: 24px;
    font-family: 'Gill Sans';
    color: black;
}

p {
    line-height: 150%;
}

img {
    border: solid 5px;
    border-color: black;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    margin-left: 50px;
    display: inline-block;
}

a {
    background-color: purple;
    padding: 5px;
    margin: 5px;
}

nav {
    border: solid 1px black;
    padding: 16px;
    margin: 8px;
}

nav li {
    margin-left: 50px;
    border: solid 8px green;
    display: inline-block;
    padding: 16px;
    margin: 16px;
}

nav a {
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}

.thumbnail {
    border: solid 5px blue;
    padding: 20px;
    border-radius: 20px;
}